/* home.module.css */

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: fit-content;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 3rem;
    color: var(--light);
    background-image: url("../public/bilder/bg.jpg");
    background-size: cover;

}

.one {
    margin-top: 2rem;
    width: 80%;
}

.two {
    margin-top: 1rem;
    width: 45%;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--primary-dark);
}

.two:hover {
    background-color: var(--primary);
    transition: 0.5s;
}


.three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.description {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    list-style: none;

}

.leftSection,
.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Inhalte gleichmäßig verteilen */
}

.leftSection {
    gap: 2rem;
}

.rightSection {
    gap: 1rem;
}



.slider {
    margin: 3rem auto;
    border-radius: 0.5rem;
    max-width: 900px;
}


.mainSlider {
    .mainSlider {
        width: 100%;
        height: 100%;
        /* Füllt die gesamte Höhe der Spalte */
        aspect-ratio: auto;
        /* Verhindert Verzerrungen */
        border-radius: 8px;
        overflow: hidden;
        animation: fadeIn 1s ease-in-out;
    }

}

.companyInfo {
    margin-top: 1rem;
}

.companyInfo ul {
    list-style: none;
    margin-top: 1rem;
}

.companyInfo li {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    position: relative;
}

.companyInfo li:before {
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--success);
}


/* Responsive styles added */
@media (max-width: 768px) {
    .hero {
        padding: 10px;
        text-align: center;
    }

    .two {
        width: 80%;
        margin: 0 auto;
    }

    .three {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hero {
        font-size: 16px;
    }
}