/* navigation.module.css */


.navigation {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);

}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
    background-color: var(--primary);
}

.navigation p {
    color: var(--light);
    font-size: 1.5rem;
    text-decoration: none;
}

.navigation h1 {
    color: var(--primary);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.navigation h2 {
    text-align: center;
    text-shadow: var(--text-shadow-light);

}

.navigation h3 {
    text-align: center;
    color: var(--secondary);
    text-shadow: var(--text-shadow-dark);
}


.navContainer {
    display: flex;
}



.leftNav img {
    cursor: pointer;
    width: 100%;

    background-color: var(--secondary);
    margin: .5rem;
}

.rightTopNav {
    width: 60%;
}


.rightNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightBottomNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    padding: .3rem;

}

.middleBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background: none;
}

.asideNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;

}

.asideNav img {
    cursor: pointer;
}

.asideNav img:hover {
    transform: scale(1.1);
}

.asideNav li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: var(--font-family-primary);
}

.asideNavGridItem {
    text-align: center;
}

.item1 {
    color: var(--danger);
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: var(--text-shadow-dark);
    margin: .5rem;
}

.item2 {
    color: var(--light);
}

.item3 {
    color: var(--light);
}

.slide:active {
    transform: scale(0.9);
    text-align: center;
    color: tomato;
}


.button {
    padding: 7px 12px;
    background-color: var(--primary);
    border-style: none;
    font-weight: 650;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.button:hover {
    color: white;
    text-shadow: 0 0 10px rgba(199, 199, 199, 0.29), 0 0 40px rgba(199, 199, 199, 0.29), 0 0 80px rgba(199, 199, 199, 0.29);
    transform: scale(1.1);
}